<div class="container margin-top-3">
    <%= form_with(url: :sessions_create, method: 'POST') do |form| %>
    <h2 class="text-center">Login</h2>
    <%= render "partials/alert" %>
    <%= render "partials/notice" %>

    <%= render "components/email" %>
    <%= render "components/password" %>

    <%= form.submit "Entrar", class: 'btn-middle btn btn-dark btn-block' %>
    <% end %>
    <div class="text-center margin-top-3">
        <a href="/sign-up">Registrar-se</a>
    </div>
</div>
