<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">E-Mail</div> 
        </div> 
        <input 
            type="text" 
            name="user[email]"
            class="form-control"
            />
    </div>
</div>
