<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">Senha</div> 
        </div> 
        <input 
            type="password" 
            name="user[password]"
            class="form-control"
            />
    </div>
</div>
