<div class="container margin-top-3">
    <%= form_with(url: :registration_create, method: 'POST') do |form| %>
    <h2 class="text-center">Registro</h2>
    <%= render "partials/alert" %>
    <%= render "partials/notice" %>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Nome</div> 
            </div> 
            <input 
                type="text" 
                name="user[name]"
                class="form-control"
                />
        </div>
    </div>
    <%= render "components/email" %>
    <%= render "components/password" %>

    <%= form.submit "Registrar", class: 'btn-middle btn btn-dark btn-block' %>
    <% end %>
    <div class="text-center margin-top-3">
        <a href="/sign-in">Fazer Login</a>
    </div>
</div>
