<div class="container margin-top-3">
    <% if !@video.present? %>
        <h2 class="text-center">Nenhum video foi encontrado</h2>
    <% else %>
    <h2 class="text-center">Editando <%= @video.name %></h2>
        <%= form_with(url: :update_video, method: 'PUT') do |form|%>
            <%= render "videos/partials/inputs", 
                name: @video.name, 
                url: @video.url 
            %>
            <%= form.submit "Salvar", class: "btn-middle btn btn-dark btn-block" %>
        <% end %>
    <% end %>
</div>
