<div class="container margin-top-3">
    <h2 class="text-center">Criar video</h2>
    <%= form_with(url: :videos, method: 'POST') do |form|%>
        <%= render "videos/partials/inputs", name: nil, url: nil %>
        <%= form.submit "Salvar", class: "btn-middle btn btn-dark btn-block" %>
    <% end %>
</div>
