<div class="container">
    <h2><%= @video.name %></h2>
    <video 
        id="video"
        class="video-js margin-top-3"
        controls
        height="364" 
        width="1140" 
        preload="none" 
        data-video-id="<%= @video.id %>"
        data-setup="{}">
        <source 
            src="<%= @video.url %>" 
            type='application/x-mpegURL'
        >
    </video>    
    <span>
        <i class="far fa-eye"></i> <%= @video.get_views %>
    </span>
</div>
<script charset="utf-8">
    const video = $("video");
    video_id = video.attr('data-video-id');
    var token = $('meta[name="csrf-token"]')[0].content

    $.ajaxSetup({
        headers: {
            'X-CSRF-TOKEN': token
        }
    });

    $("video").on('play', event => {
    console.log('played');
      form_data = new FormData();
        
      $.ajax({
        url: `/video/${video_id}/view/add`,
        method: 'POST',
        dataType: 'json',
      });
    })
</script>
