<div class="container">
    <h2 class="text-center margin-top-3">Meus Videos</h2>
    <%= render "partials/alert" %>
    <%= render "partials/notice" %>
    <%= link_to "Criar Video", :new_videos, class: "btn btn-dark"%>

    <%= render "videos/components/table", videos: current_user.videos %>

    <%= render "videos/components/other_videos", other_videos: @other_videos %>
</div>
