<div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Preview", player_video_path(video.slug), class: "btn btn-secondary"%>
    <%= link_to "Editar", edit_video_path(video.id), class: 'btn btn-dark' %>
    <%= button_to "Deletar", 
        delete_video_path(video.id),
        method: :delete,
        :confirm => "Tem certeza?",
        class: 'btn btn-danger'
    %>
</div>
