<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                Nome
            </div> 
        </div> 
        <input 
            type="text" 
            name="video[name]"
            class="form-control"
            value="<%= name ? name : nil %>"
        />
    </div>
</div>
<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                URL
            </div> 
        </div> 
        <input 
            type="text" 
            name="video[url]"
            class="form-control"
            value="<%= url ? url : nil %>"
        />
    </div>
</div>
