<div class="container">
    <h2>Veja tambem</h2>
    <ul class="list-group list-group-flush">
        <% if @other_videos.any? %>
            <% @other_videos.each do |video| %>
                <li class="list-group-item">
                    <%= link_to video.name, player_video_path(video.slug)%>
                    <span class="badge badge-secondary"><%= video.get_views %></span>
                </li>
            <% end %>
        <% else %>
        Nao ha outros videos
        <% end %>
    </ul>
</div>
