<table class="table margin-top-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">URL</th>
            <th scope="col">Slug</th>
            <th scope="col">Views</th>
            <th scope="col">Acoes</th>
        </tr>
    </thead>
    <tbody>
        <% if videos.any? %>
            <% videos.each do |video|%>
                <tr>
                    <th scope="row"><%= video.id%></th>
                    <td><%= video.name %></td>
                    <td>
                        <%= link_to video.url, ""%>
                    </td>
                    <td>
                        <%= video.slug %>
                    </td>
                    <td>
                        <%= video.get_views %>
                    </td>
                    <td>
                        <%= render "videos/partials/group_buttons", video: video %>
                    </td>
                </tr>
            <% end %>
        <% else %>
            <tr>
                <th scope="row">#</th>
                <td>Nenhum video encontrado</td>
                <td></td>
                <td></td>
            </tr>
        <% end %>
    </tbody>
</table>
