<!DOCTYPE html>
<html>
    <head>
        <title>Videoshow.me</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <% if protect_against_forgery? %>
            <meta name="authenticity-token" content="<%= form_authenticity_token %>">
        <% end %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_pack_tag 'application' %>
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
              crossorigin="anonymous">
        <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
        <link 
            rel="stylesheet" 
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
            crossorigin="anonymous"
        />

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <%= link_to "videoshow.me", :videos, class: "navbar-brand" %>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <button 
                                class="btn btn-secondary dropdown-toggle" 
                                type="button" id="dropdownMenuButton" 
                                              data-toggle="dropdown">
                                Bem vindo, <%= current_user.name %>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <%= link_to "Sair", :sessions_logout, class: 'dropdown-item'%>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <script 
            src="https://code.jquery.com/jquery-3.5.1.min.js" 
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
            crossorigin="anonymous"></script>
        <script 
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
            crossorigin="anonymous"></script>
        <script 
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
            crossorigin="anonymous"></script>

        <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
        <script src="https://unpkg.com/@videojs/http-streaming@1.13.4/dist/videojs-http-streaming.min.js"></script>
        <%= yield %>
    </body>
</html>
